{% extends 'base.html' %}
{% load staticfiles %}
{% csrf_token %}
{% block title %}{{ product.name }}{% endblock %}
{% block content %}
    <div class="text-center">
        <h1>{{ product.name }}</h1>
        <div class="row">
            <div class="col col-12 col-sm-10 col-md-8 col-lg-6 m-auto">
                <img src="{{ foto.foto.url }}" class="img-fluid" alt="{{ foto.subscribe }}">
            </div>
        </div>
        <p><b>Подпись:</b> {{ foto.subscribe }}</p>
        <p><b>Дата:</b> {{ foto.created_at }} </p>
        <p><b>Количество лайков:</b> {{ foto.rating }}</p>
        <div class="container" id="buttons"></div>
        <p><b>Автор:</b> {{ foto.user }}</p>
        {% if user.is_authenticated %}
        <p><a href="{% url 'webapp:foto_update' foto.pk %}" class="btn btn-primary">Изменить</a></p>
        <p><a href="{% url 'webapp:foto_delete' foto.pk %}" class="btn btn-danger">Удалить</a></p>
    <p onclick="getClicks({{ foto.pk }})" class="btn btn-success">Поставить лайк</p>
        <p onclick="getComment({{ foto.pk }}, {{ user.pk }})" id="create_link" class="btn btn-dark" data-toggle="modal" data-target="#form_modal">Добавить Коммент</p>
        {% endif %}
    </div>
       <p><h2>Комментарии:</h2> <b>
       {% for comment in comments %}
           <p> Автор: {{ comment.author }}</p>
           <p> Текст: {{ comment.text }}</p>
           <p onclick="deleteComment({{ comment.pk }})" class="btn btn-danger">Удалить</p>
           <p onclick="updateComment({{ fotocomment.pk }})" id="update_link" data-toggle="modal" data-target="#form_modal" class="btn btn-success">Редактировать</p>
           <hr>

        {% endfor %}
<div class="modal fade" id="form_modal" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="form_title"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
<form id="quote_form" class="d-none">
                    <div class="form-group">
                        <input class="form-control" type="text" name="text" id="text" placeholder="ID фото">
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="text" name="author" id="author" placeholder="Текст">
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="text" name="fotocomment" id="fotocomment" placeholder="ID Автор">
                    </div>
                </form>

            <div class="modal-footer">
                <button type="submit" class="btn btn-primary mr-auto" id="form_submit"></button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
            </div></div>
        </div>
    </div>
</div>

<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script type="application/javascript" src="{% static "js/main.js" %}"></script>
{% endblock %}